* {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
   
}

header {
    margin-top: 47px;
    margin-left: 42px; 
}

.link-menu {
    margin-right: 36px;
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.875px;
    cursor: pointer;

}

.botao-signup {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

img {
   
    display: inline-block;
    margin-top: 163px;
    margin-left: 121px;
    
}

div {
    display: inline-block;
    margin-left:85px;
    width: 493px;
    
    
   
   }

h1 {
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 82px; /* 132.258% */
    letter-spacing: 0.596px;
    color: #161A49;
   
}

p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 183.333% */
    letter-spacing: 0.5px; 
    color: #4B505A;
   
    margin-top: 47px;
    margin-bottom: 55px;
}


.link-learn-more {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
   

}

a:hover {
    opacity: .5;
}

a:active {
    color: red;
}

button:hover {
    opacity: .5;
}

button:active {
    background: blue;
}

.link-learn-more:active {
   color: blue;
}

@media screen and (max-width: 900px){
    

    header {
        margin: 0;
    }

    img {
        display: block;
        margin: auto auto;
        width: 70% ;
        padding-top: 100px;
       

    }

    div {
        display: table-header-group;
        margin: 0;
        width: 50%;
    }
    a {
        display: none;
    }
    
    button {
        display: block;
        margin: auto auto;
        margin-top: 30px;
        width: 91px;
        height: 31px;
        border-radius: 6px;
        border: 1px solid #4CB538;
        background: #6FBF44;
    }

    h1 {
        width: auto;
        text-align: center;
        font-size: 8vw;
        line-height: 1em; /* 100% */
        letter-spacing: 0.596px;
        margin: 70px 55px 0 57px;

    }

    p {
        width: 450px; 
        text-align: center;
        font-size: 18px;
        line-height: 33px; /* 183.333% */
        letter-spacing: 0.5px;
        margin: auto auto;
        margin-top: 15px;
        margin-bottom: 15px;

    }
    .link-learn-more {
        display: block;
       text-align: center;
        color: #6FBF44;
        font-size: 18px;
        letter-spacing: 1px;

    }

    
}

@media screen and (max-width: 451px){

    p {
        width: 350px; 
        text-align: justify;
        font-size: 18px;
        line-height: 33px; /* 183.333% */
        letter-spacing: 0.5px;
        margin: auto auto;
        margin-top: 15px;
        margin-bottom: 15px;
    
}

}



